@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-playfair: var(--font-playfair);
  --color-ceramic: #CCFBEF;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

.btnShadow {
  box-shadow: 0 -1.441px 7.351px 0 #2CE inset, 0 1.441px 24.649px 0 rgba(34, 204, 238, 0.50);
}