@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-playfair: var(--font-playfair);
  --color-ceramic: #CCFBEF;
  --color-teal: #15B79E;
  --color-dark-teal: #125D56;
  --color-gray-950: #0A0D12;
  --color-dark: #252B37;
  --color-light: #535862;
  --color-bright-skyblue: #22CCEE;
  --color-dark-skyblue: #0E7090;
  --text-headingfont: 3.625rem;
  --color-light-skyblue: #CFF9FE;
  --color-light-purple: #F4EBFF;
  --color-light-red: #FFF1F3;
  --color-light-blue: #EFF4FF;
  --color-white-smoke: #F5F5F5;

}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

.btnShadow {
  box-shadow: 0 -1.441px 7.351px 0 #2CE inset, 0 1.441px 24.649px 0 rgba(34, 204, 238, 0.50);
}